<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->
 
<!-- Название у нас будет proudcts -->
{% block title %}
Seach news
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>NEWS SEARCH</h1>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Find">

</form>

<hr>
        <table>
        {% for news_id in news %}
          <p>
            <h5>
            {{ news_id.titlePost|CENSOR }}
            </h5>
            <i>{{ news_id.textPost|preview|CENSOR }}</i>
            
            <small>{{ news_id.datetimePost|date:'d M Y H:i' }}</small>
            
          </p>
        {% endfor %}
        </table>
        {% if is_paginated %}
 
        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
            <a href="?{{ request.get_full_path|update_page:1}}">First</a>
            <a href="?{{ request.get_full_path|update_page:page_obj.previous_page_number}}"><<<</a>
        {% endif %}
     
        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
     
        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
     
    {% endif %}
  
{% endblock content %}

